@import '_media.scss';

main.wrapper{
  @extend %flex-normal-sm;
  @extend %height-fit-content;
  box-shadow: 20px 25px 25px 0px $pale-blue;
  
  @include respond-to(large){
    min-width: 375px;
    width: 764px;
    height: 515px;
    flex-direction: row;
    border-radius: 35px;
  }

  min-width: 100vw;
  width: 375px;
}

section.results{
  @include bg-gradient($light-slate-blue,$light-royal-blue);
  @extend %flex-normal-sm;
  @extend %flex-center;
  @extend %align-self-stretch;
  @extend %height-fit-content;
  flex-shrink: 0;

  @include respond-to(large){
    max-width: 364px;
    height: 515px;
    border-radius: 35px;
    padding-top: 0;
  }

  border-radius: 0 0 35px 35px;
  padding-top: 23.5px;

  div.circle{
    @include flex(column, flex-end, 0);
    border-radius: 50%;
    padding: 30px 45px 30px 45px;
    @include bg-gradient($violet-blue,$persia-blue);

    @include respond-to(large){
      scale: 1.25;
      margin: 20px 0 15px;
    }
  }

  div.analysis{
    padding: 0 43px 53px;

    p:first-child{
      margin-bottom: 16px;

      @include respond-to(large){
        margin-bottom: 5px;
      }
    }
  }
}

section.summary{
  @include flex(column, center, 25px);
  @extend %align-self-stretch;

  min-width: 320px;
  padding-bottom: 37px;
  margin: 0 27.5px;

  @include respond-to(large){
    margin: 0 30px 0 0px;
  }
  
  p:first-child{
    @extend %align-self-stretch;
  }
}


div.cards{
  @include flex(column, center, 16px);
  @extend %align-self-stretch;
}

@for $i from 1 through length($background-colors){
  div.summaryCard:nth-child(#{$i}){
    @include comp--summary-card(nth($background-colors,$i), nth($card-text-colors, $i));
  } // Loop through the bg-color of each card w/ :nth-child()
}

div.summaryTitle{
  @include flex(row, space-between, 10px);
  opacity: 0.8;
}

div.percentage{
  @include flex(row, space-between, 3px);
  height: 16px;
}


button[type="button"]{
  @include button-styles($dark-gray-blue,$white);
  @extend %flex-center;
  @extend %align-self-stretch;

  height: 56px;
  padding: 19px 0px;
  gap: 10px;

  &:hover{
    @include bg-gradient($light-slate-blue,$light-royal-blue);
  }
}