// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Mixin for media queries
@mixin respond-to ($breakpoint) {
  @if ($breakpoint == small) {
    // If the viewport width is less than or equal to 576px.
    @media only screen and (max-width: #{$breakpoint-sm}) {
      @content;
    }
  }

  @else if ($breakpoint == medium) {
    // If the viewport width is less than or equal to 768px.
    @media only screen and (max-width: #{$breakpoint-md}) {
      @content;
    }
  }

  @else if ($breakpoint == large) {
    // If the viewport width is greater than or equal to 1024px.
    @media only screen and (min-width: #{$breakpoint-lg}) {
      @content;
    }
  }
}