////////// - Flexbox Utilities - //////////
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%align-items-stretch {
  align-items: stretch;
}

%align-self-stretch {
  align-self: stretch;
}

////////// - Text Utilities - //////////
%text-center {
  text-align: center;
}

%flex-normal-sm { 
  @include flex(column, center, 30px);
}

%height-fit-content{
  height: fit-content;
}