////////// - Margin & Padding Utilities - //////////
.m-1 {
  margin: 1rem;
}
.p-2 {
  padding: 2rem;
}

////////// - Display Utilities - //////////
.d-none {
  display: none;
}

////////// - Flexbox Utilities - //////////
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

%align-items-stretch {
  align-items: stretch;
}

%align-self-stretch {
  align-self: stretch;
}

.justify-content-center {
  justify-content: center;
}

////////// - Text Utilities - //////////
%text-center {
  text-align: center;
}

%flex-normal-sm { 
  @include flex(column, center, 30px);
}

%height-fit-content{
  height: fit-content;
}