// Variables
// ## Primary
$card-text-colors:(
  hsl(0, 100%, 67%),
  hsl(39, 100%, 56%),
  hsl(166, 100%, 37%),
  hsl(234, 85%, 45%)
);

// ## Buttons Background Color
$background-colors: (
  #FFF5F5,
  #FFFBF2,
  #F2FBFA,
  #F3F3FD
);

// ## Gradients
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persia-blue: hsla(241, 72%, 46%, 0);

// ### Neutral
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// Typography:
$font-family: 'Hanken Grotesk', sans-serif;
// - Weights: 500, 700, 800